html {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

*, ::after, ::before {
    box-sizing: inherit;
}

body{
    background-image: url(../picture/background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* height: 100vh; */
}

.exchangeCalculator{
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    margin-bottom: 20px;
}

.exchangeCalculator__title{
    width: fit-content;
    margin: 35px auto 0;
    font-size: min(max(10.52vw, 28px), 32px);  
}

.exchangeForm{
    max-width: 620px;
    width: 100%;
    margin: 25px auto 0;
}

@media screen and (max-width: 450px) {
    .exchangeForm{
        flex-direction: column;
    }
}

.exchangeForm__legend{
    padding: 8px;
    border: none;
    border-radius: 10px;
    background: #DEDEDC;
    box-shadow: 0px 0px 10px -4px;
    color:#615355;
    position: absolute;
    top: 7px;
    left: 10px;
    font-size: min(max(4.26vw, 13px), 16px);
}

@media screen and (max-width: 450px) {
    .exchangeForm__legend{
        left: 50%;
        transform: translateX(-50%);
        width: 90%;
        top: 10px;
        text-align: center;
    }
}

.exchangeForm__dataInput{
    margin: 0 10px;
    background: #F4F4F4;
    color: #615355;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 0px 17px -7px #615355;
    position: relative;
}

.exchangeForm__itemSet{
    min-height: 215px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

@media screen and (max-width: 450px) {
    .exchangeForm__itemSet{
        min-height: 255px;
    }
}

.exchangeForm__form{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 450px) {
    .exchangeForm__form{
        flex-direction: column;
    }
}

.exchangeForm__convertedLabel{
    text-align: center;
    font-size:min(max(6.10vw, 16px), 20px);
}

.exchangeForm__convertedAmount{
    width: 120px;
    height: 50px;
    font-size: 22px;
    padding: 4px;
    border-radius: 5px;
    border: 1px solid #000;   
}

.exchangeForm__convertedAmount::placeholder{
    font-size: 14px;
}

.exchangeForm__arrow{
    width: 40px;
    margin: 0 20px;
}

@media screen and (max-width: 450px) {
    .exchangeForm__arrow{
        display: none;
    }
}

input[type="radio"]{
    cursor: pointer;
}

input[type="radio"]:checked + .exchangeForm__label{
    font-weight: 700;
    color: #615355;
}

.exchangeForm__currencies{
    padding-bottom: 5px;
}

.exchangeForm__label{
    cursor: pointer;
}

.exchangeForm__currencySwitch{
    list-style: none;
    padding-left: 0px;
    cursor: pointer;
}

@media screen and (max-width: 450px) {
    .exchangeForm__currencySwitch{
        display: flex;
        justify-content: space-evenly;
        width: 100%;
    }
}

.exchangeForm__summary{
    text-align: center;
}

.exchangeForm__summaryResult{
    font-size: min(max(6vw, 18px), 22px);
    margin-top: 0px;
}

.exchangeForm__summaryAmount{
    font-weight: 700;
    text-transform: uppercase;
}

.exchangeForm__summaryInformation{
    font-size: 13px;
}

.exchangeForm__summaryCurrency{
    text-transform: uppercase;
}

.exchangeForm__buttonSubmit{
    width: 150px;
    padding: 15px 10px;
    display: block;
    margin: 0 auto;
    margin-top: 25px;
    background-color: #615355;
    border: none;
    color: #DEDEDC;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
}

.exchangeForm__buttonReset{
    width: fit-content;
    display: block;
    background: none;
    border: none;
    margin: 0 auto;
    margin-top: 10px;
    color: hsl(340, 3%, 42%);
    text-decoration: underline;
    cursor: pointer;
}

.exchangeForm__buttonReset:hover{
    color: hsl(351, 8%, 55%);
}